.container {

  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-weight: 200;
  color: var(--textSoft);
  margin-bottom: 20px;
}