.container {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
}

.container:hover {
  background-color: var(--containerHover);
}
.active {
  background-color: var(--containerActive);
  color: var(--coloredText);
}
